.Cont-{
    margin-left: 520px;
    margin-top: 80px;
    
}
.Cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid grey;
    padding: 20px 0px;
    border-radius: 15px;
    margin: 30px;
    width: 50%;
    height: auto;
    box-shadow: 10px 10px 5px;
}

form{
    margin: 25px;
}
input{
    margin: 2px 0px;
    
}

.login_button{
    border-radius: 4px;
    color: #fff;
    background-color: green;
    margin-right: 10px;
    padding:8px 25px;

}

.register_button{
    border-radius: 4px;
    border-color: transparent;
    color: #fff;
    background-color: orange;
    margin-right: 10px;
    padding:8px 25px;

}


.login_button:hover{
    background-color: black;
}

.register_button:hover{
    background-color:black;
}
.title{
    margin-left: 190px;
    margin-top: 70px;
}
label{
    display: block;
    float: left;
    width : 120px;   
    margin: 2px 0px; 
  }
  .lb{
    border-radius: 4px;
    border-color: transparent;
    color: #fff;
    background-color: orange;
    margin-right: 10px;
    padding:8px 25px;

}


.lb:hover{
    background-color: black;
}
